*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #222;
    
}
.card{
    width: 100%;
    max-width: 900px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 30px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    margin-top: 40px;
}
.search{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    margin-left: 32px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 30px;
}

.sun {
    margin-top: 80px;
    padding: 20px;
    width: 100%;
    height: 250px;
    background: url('sun.png') no-repeat center center;
    background-size: contain;
    position: relative;
    animation: rotateAnimation 10s linear infinite;
    text-align: center;
    margin-bottom: 50px;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    align-items: center; 
    text-align: center;
}

.col img{
    width: 100px;
    margin-right: 15px;

}

.humidity, .wind{
    font-size: 28px;
    margin-top: 10px;
}
.error, .error2{
    text-align: center;
    margin-left: 10px;
    font-size: 30px;
    margin-top: 30px;
    display: none;
}
.weather-container {
    position: relative;
    
}

.cloud {
    position: relative; /* Zmienione z absolute na relative */
    width: 200px;
    height: 100px;
    border-radius: 100px;
    background-color: #fff;
    border-radius: 50px;
    opacity: 0.8;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    text-align: center;
    margin-bottom: 200px;
    margin-left: 40%;
    margin-top: 50px;
  }
  
  .cloud1 {
    top: 60px;
    left: -190px;
    position: relative; /* Dodane position: absolute */
    animation-name: moveCloud1;
  }
  
  .cloud2 {
    top: 70px;
    left: -160px;
    position: absolute; /* Dodane position: absolute */
    animation-name: moveCloud2;
  }

  @keyframes moveCloud1 {
    to {
      transform: translateX(100%);
    }
  }

  @keyframes moveCloud2 {
    to {
      transform: translateX(100%);
    }
  }

  .drizzle {
    margin-top: 80px;
    padding: 20px;
    width: 100%;
    height: 250px;
    background: url('sun.png') no-repeat center center;
    background-size: contain;
    position: relative;
    animation: rotateAnimation 10s linear infinite;
    text-align: center;
    margin-bottom: 50px;
}
.mist {
    margin-top: 80px;
    padding: 20px;
    width: 100%;
    height: 250px;
    background: url('sun.png') no-repeat center center;
    background-size: contain;
    position: relative;
    animation: rotateAnimation 10s linear infinite;
    text-align: center;
    margin-bottom: 50px;
}
.rain {
    margin-top: 80px;
    padding: 20px;
    width: 100%;
    height: 250px;
    background: url('rain.jpg') no-repeat center center;
    background-size: contain;
    position: relative;
    animation: rotateAnimation 10s linear infinite;
    text-align: center;
    margin-bottom: 50px;
    background-color: none;
}
